.self-pic{
  border-radius: 50%;
  max-width: 180px;
}

.bio-container{

}

.bio{
  text-rendering: optimizeLegibility;
  text-align: justify;
}

@media only screen and (min-width: 451px) and (max-width: 960px) {

  .self-pic{
    border-radius: 50%;
    max-width: 200px;
  }

}

@media only screen and (min-width: 961px) {

  .self-pic{
    border-radius: 50%;
    max-width: 250px;
  }

}

@media only screen and (min-width: 1440px) {

  .self-pic{
    border-radius: 50%;
    max-width: 300px;
  }

}

@media only screen and (min-width: 2560px) {

  .self-pic{
    border-radius: 50%;
    max-width: 400px;
  }

}
