.self-pic{
  border-radius: 50%;
  max-width: 250px;
}

.page-title{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-self: center;
}

.bio{
  text-rendering: optimizeLegibility;
  text-align: justify;
}

@media only screen and (min-width: 451px) and (max-width: 960px) {

  .self-pic{
    border-radius: 50%;
    max-width: 350px;
  }

}

@media only screen and (min-width: 961px) {

  .self-pic{
    border-radius: 50%;
    max-width: 450px;
  }

}

@media only screen and (min-width: 1440px) {

  .self-pic{
    border-radius: 50%;
    max-width: 450px;
  }

}

@media only screen and (min-width: 2560px) {

  .self-pic{
    border-radius: 50%;
    max-width: 450px;
  }

}
