html {
  scroll-behavior: smooth;
}

.content-container{
  display: flex;
  margin:auto;
  width:80%;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

.divider{
  height:5px;
  background-color: #357D82;
  margin-top: 20px;
}

.section-label{
  font-style: italic;
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Mobile */
@media only screen and (max-width: 450px) {

  .divider{
    width: 80%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px) {

  .divider{
    margin-top: 25px;
    width: 50%;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


  .divider{
    margin-top: 35px;
    width: 40%;
  }

}

/* Desktop L Styles */
@media only screen and (min-width: 1440px) {


}

/* 4K */
@media only screen and (min-width: 2560px) {

  .divider{
    margin-top: 35px;
    width: 50%;
  }

}
