html {
  scroll-behavior: smooth;
}

.contact-button{
  position: fixed;
  bottom: 30px;
  right: 40px;
  border-radius: 50%;
  background-color: #357D82;
  height: 70px;
  width: 70px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  z-index: 1;
}

.mail-to > img{
  position: fixed;
  bottom: 30px;
  right: 40px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.site-footer{
  background-color: #10486A;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.logo_brianatzori{
  width: 200px;
}

.logo_brat_container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.logo_brat{
  height: 120px;
  width: 120px;
}

.content-container{
  display: flex;
  margin:auto;
  width:80%;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

.divider{
  height:5px;
  background-color: #357D82;
  margin-top: 50px;
  margin-bottom: 35px;
}

.section-label{
  font-style: italic;
  align-self: flex-start;
  margin-bottom: 25px;
}

/* Mobile */
@media only screen and (max-width: 450px) {

  .divider{
    width: 80%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px) {

  .divider{
    width: 50%;
  }

  .logo_brat{
    height: 150px;
    width: 150px;
  }

  .logo_brianatzori{
    width: 300px;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


  .divider{
    width: 40%;
  }

  .logo_brat{
    height: 180px;
    width: 180px;
  }

  .logo_brianatzori{
    width: 400px;
  }

}

/* Desktop L Styles */
@media only screen and (min-width: 1440px) {


}

/* 4K */
@media only screen and (min-width: 2560px) {

  .divider{
    width: 50%;
  }

}
