body{
  max-height: 100px;
}

.content-container{
  display:flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.start-button{
  display: flex;
  justify-content: space-around;
  background-color: #357D82;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 50px;
  padding: 10px 35px 10px 35px;
}

.start-button > a{
  text-decoration: none;
  color: #ffff;
}

.start-button > a:hover{
  text-decoration: none;
  color: #ffff;
}

.start-button > a:visited{
  text-decoration: none;
  color: #ffff;
}

/* Mobile */
@media only screen and (max-width: 450px) {

  .logo{
    max-width: 300px;
  }

  .start-button{
    width: 50%;
  }

  .start-button > a{
    font-size: 30px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px) {

  .start-button{
    width: 40%;
  }

  .start-button > a{
    font-size: 35px;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .start-button{
    width: 30%;
  }

  .start-button > a{
    font-size: 45px;
  }

}

/* Desktop L Styles */
@media only screen and (min-width: 1440px) {

  .logo{
    min-width: 600px;
  }

  .start-button{
    width: 20%;
  }

  .start-button > a{
    font-size: 40px;
  }

}

/* 4K */
@media only screen and (min-width: 2560px) {

  .logo{
    min-width: 900px;
  }

  .start-button{
    width: 15%;
  }

  .start-button > a{
    font-size: 50px;
  }

}
