.projects-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 20px;
}

.project-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-self: center;
}

.project-banner{
  width: 250px;
  display: flex;
  align-self: center;
}

.project-banner:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  transition: 0.3s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 425px) {

  .project-banner{
    width: 300px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px) {

  .project-banner{
    width: 450px;
    display: flex;
    align-self: center;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .project-banner{
    width: 550px;
    display: flex;
    align-self: center;
  }

}

/* Desktop L Styles */
@media only screen and (min-width: 1440px) {


}

/* 4K */
@media only screen and (min-width: 2560px) {

  .divider{
    margin-top: 35px;
    width: 50%;
  }

}
