.skills-wrapper{
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.skill-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}

.skill-container > img{
  width: 30px;
  height: 30px;
}

.skill-container > img:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.skill-container > H6{
  text-align: center;
  margin-top: 10px;
}

/* Mobile */
@media only screen and (max-width: 450px) {

  .skill-container{
    flex: 1 0 20%;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 960px) {

  .skill-container{
    flex: 1 0 20%;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .skill-container{
    flex: 1 0 20%;
  }

  .skill-container > img{
    width: 50px;
    height: 50px;
  }

}

/* Desktop L Styles */
@media only screen and (min-width: 1440px) {


}

/* 4K */
@media only screen and (min-width: 2560px) {

}
